<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Bookcase</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/SC_Style.css">
</head>
<body>
<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex column flex-md-row justify-content-center">
        <a class="py-2 px-3" href="#"></a>
        <a class="py-2 px-2 d-none d-md-inline-block" href="/">Home</a>
        <a class="py-2 px-2 d-none d-md-inline-block" href="/viewBooks">My Books</a>
        <a class="py-2 px-2 d-none d-md-inline-block" href="/addBook">Add New Book</a>
        <a class="py-2 px-2 d-none d-md-inline-block" href="/editDeleteBook">Edit DB</a>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1>Welcome to Bookcase</h1>
    <p>Select from one of the options available below to manage your library.</p>
    <a class="btn btn-primary" href="/viewBooks">View your books</a>
    <a class="btn btn-success" href="/addBook">Add new books</a>
    <a class="btn btn-warning" href="/editDeleteBook">Edit your books</a>
</div>
</body>
<!--place script here-->
</html>